if SHIELD_GGKBD_LEFT

config ZMK_KEYBOARD_NAME
    default "ggkbd"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GGKBD_LEFT || SHIELD_GGKBD_RIGHT

config ZMK_SPLIT
    default y

endif
